<span>
    <div class="card-deck">
 {% for card in cards %}

 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
 <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
 <script>
     $(function($) {
         $(".osh-card").flip({trigger: 'hover'});
     });
 </script>
     <div class="osh-card" id="card">
         <div class="front">
             <div class="osh-card-background" id="{{card.type}}" >
                 <h3 class="osh-card-name">{{card.name}}</h3>
             </div>
             <div class="osh-card-image-frame">
                 <div class="osh-card-image">
                     <img src="{{STATIC_URL}}images/opensensorhub-logo2.png" alt="Card image">
                 </div>
             </div>
             <div class="osh-card-text">
                 <h4>DESCRIPTION</h4>
                 <p>{{card.description}}</p>
                 <h4>KEYWORDS</h4>
                 <p>{{card.keywords}}</p>
             </div>
         </div>
         <div class="back {{card.type}}">

             <div class="osh-card-back">
                 <h3>{{card.name}}</h3>
                 <h4>{{card.type}}</h4>
                 <hr />
                 <p>{{card.description}}</p>
                 <p>{{card.keywords}}</p>

                 <div class="btn-group" id="{{card.type}}Action">

                 </div>
             </div>
         </div>
     </div>


    {% endfor %}
    </div>
</span>