<span class="osh-cards">
    {% for card in cards %}
        <div class="osh-card">
            <h3 class="osh-card-name">{{card.name}}</h3>
            <div class="osh-card-background">
                <hr class="osh-card-separator"/>
                <div class="osh-card-url">
                    {{card.url}}
                </div>
                <hr class="osh-card-separator"/>
                <img class="osh-card-image" src="{{STATIC_URL}}images/opensensorhub-logo2.png" alt="Card image">
                <hr class="osh-card-separator"/>
                <div class="osh-card-description">
                    <p>{{card.description}}</p>
                </div>
                <hr class="osh-card-separator"/>
                <div class="osh-card-keywords">
                    {{card.keywords}}
                </div>
            </div>
        </div>
    {% endfor %}
</span>