<div style='padding-top: 10px; padding-bottom: 10px;'>
        <label style='display: inline;'>Filter Results</label>
        <label style='display: inline; float: right; text-align:right;'>Clear all</label>
</div>
<div style='padding-top: 10px; padding-bottom: 10px;'>
    <div style='padding-top: 5px; padding-bottom: 5px;'>
        <label style='display: inline;'>SEARCH</label>
        <img style='display: inline;' src="{{STATIC_URL}}images/info.png" width="20px" height="20px">
        <label style='display: inline; float: right; text-align:right;'>Clear</label>
    </div>
    <div style='position: relative;'>
        <form method="get" action="/osh/hubs/">
            <input type="text" placeholder="Filter by content..." style='width: 100%'>
            <input type="submit" value="" style='border: none; background: no-repeat; background-size: cover; background-image: url({{STATIC_URL}}images/search.png); position: absolute; right: 5px; top: 3px; z-index: 1; width:30px; height:30px;' >
        </form>
    </div>
</div>
<div style='padding-top: 10px; padding-bottom: 10px; display: block;'>
    <div style='padding-top: 5px; padding-bottom: 5px; display: block;'>
        <label style='display: inline;'>Content Type</label>
        <label style='display: inline; float:right;'>Clear</label>
    </div>
    {% for resource in resources %}
    <div style='padding-top: 5px; padding-bottom: 5px; display: block;'>
        <form method="get" action="/osh/hubs/">
            <input style='padding-right: 5px;' type="checkbox"/>
            <label>{{resource|title}}</label>
        </form>
    </div>
    {% endfor %}
</div>
<div style='padding-top: 10px; padding-bottom: 10px; display: block;'>
    <div style='padding-top: 5px; padding-bottom: 5px; display: block;'>
        <label style='display: inline;'>Name</label>
        <label style='display: inline; float:right;'>Clear</label>
    </div>
    <div style='position: relative;'>
        <form method="get" action="/osh/hubs/">
            <input type="text" placeholder="Filter by name..." style='width: 100%' name="name__contains">
            <input type="submit" value="" style='border: none; background: no-repeat; background-size: cover; background-image: url({{STATIC_URL}}images/search.png); position: absolute; right: 5px; top: 3px; z-index: 1; width:30px; height:30px;' >
        </form>
    </div>
</div>
<div style='padding-top: 10px; padding-bottom: 10px; display: block;'>
    <div style='padding-top: 5px; padding-bottom: 5px; display: block;'>
        <label style='display: inline;'>URL</label>
        <label style='display: inline; float:right;'>Clear</label>
    </div>
    <div style='position: relative;'>
        <form method="get" action="/osh/hubs/">
            <input type="text" placeholder="Filter by URL..." style='width: 100%' name="url__contains">
            <input type="submit" value="" style='border: none; background: no-repeat; background-size: cover; background-image: url({{STATIC_URL}}images/search.png); position: absolute; right: 5px; top: 3px; z-index: 1; width:30px; height:30px;' >
        </form>
    </div>
</div>
<div style='padding-top: 10px; padding-bottom: 10px; display: block;'>
    <div style='padding-top: 5px; padding-bottom: 5px; display: block;'>
        <label style='display: inline;'>Description</label>
        <label style='display: inline; float:right;'>Clear</label>
    </div>
    <div style='position: relative;'>
        <form method="get" action="/osh/hubs/">
            <input type="text" placeholder="Filter by description..." style='width: 100%' name="description__contains">
            <input type="submit" value="" style='border: none; background: no-repeat; background-size: cover; background-image: url({{STATIC_URL}}images/search.png); position: absolute; right: 5px; top: 3px; z-index: 1; width:30px; height:30px;' >
        </form>
    </div>
</div>
<div style='padding-top: 10px; padding-bottom: 10px; display: block;'>
    <div style='padding-top: 5px; padding-bottom: 5px; display: block;'>
        <label style='display: inline;'>Keywords</label>
        <label style='display: inline; float:right;'>Clear</label>
    </div>
    <div style='position: relative;'>
        <form method="get" action="/osh/hubs/">
            <input type="text" placeholder="Filter by keywords..." style='width: 100%' name="keywords__contains">
            <input type="submit" value="" style='border: none; background: no-repeat; background-size: cover; background-image: url({{STATIC_URL}}images/search.png); position: absolute; right: 5px; top: 3px; z-index: 1; width:30px; height:30px;' >
        </form>
    </div>
</div>
