<span class="osh-filters">
    <div class="osh-filter-row">
        <label class="osh-label">Filter Results</label>
        <label class="osh-label-right">Clear all</label>
    </div>
    <div class="osh-filter-row">
        <label class="osh-label">SEARCH</label>
        <img class="osh-form-info-image" src="{{ STATIC_URL }}images/info.png">
        <label class="osh-label-right">Clear</label>
        <form class="osh-form" method="get" action="/osh/hubs/">
            <input type="text" class="osh-form-text-input" placeholder="Filter by content...">
            <input type="submit" class="osh-form-submit-input" value="">
        </form>
    </div>
    {% comment %}
    <div class="oshfilterrow">
        <div style='padding-top: 5px; padding-bottom: 5px; display: block;'>
            <label class="oshlabel">Content Type</label>
            <label class="oshlabel-right">Clear</label>
        </div>
        {% for resource in resources %}
            <div style='padding-top: 5px; padding-bottom: 5px; display: block;'>
                <form method="get" action="/osh/hubs/">
                    <input style='padding-right: 5px;' type="checkbox"/>
                    <label>{{ resource|title }}</label>
                </form>
            </div>
        {% endfor %}
    </div>
    {% endcomment %}
    <div class="osh-filter-row">
        <label class="osh-label">Name</label>
        <label class="osh-label-right">Clear</label>
        <form class="osh-form" method="get" action="/osh/hubs/">
            <input type="text" class="osh-form-text-input" placeholder="Filter by name..." name="name__contains">
            <input type="submit" class="osh-form-submit-input" value="">
        </form>
    </div>
    <div class="osh-filter-row">
        <label class="osh-label">URL</label>
        <label class="osh-label-right">Clear</label>
        <form class="osh-form" method="get" action="/osh/hubs/">
            <input type="text" class="osh-form-text-input" placeholder="Filter by URL..." name="url__contains">
            <input type="submit" class="osh-form-submit-input" value="">
        </form>
    </div>
    <div class="osh-filter-row">
        <label class="osh-label">Description</label>
        <label class="osh-label-right">Clear</label>
        <form class="osh-form" method="get" action="/osh/hubs/">
            <input type="text" class="osh-form-text-input" placeholder="Filter by description..." name="description__contains">
            <input type="submit" class="osh-form-submit-input" value="">
        </form>
    </div>
    <div class="osh-filter-row">
        <label class="osh-label">Keywords</label>
        <label class="osh-label-right">Clear</label>
        <form class="osh-form" method="get" action="/osh/hubs/">
            <input type="text" class="osh-form-text-input" placeholder="Filter by keywords..." name="keywords__contains">
            <input type="submit" class="osh-form-submit-input" value="">
        </form>
    </div>
</span>