.osh {
{#border: 1px solid red;#}
margin: 20px;
color: #1A1A1B;
position: relative;
}

.osh-header {
    display: block;
    width: 100%;
    height: 70px;
    text-align: center;
    padding-top: 20px;
}

.osh-element {
    font-weight: bold;
    padding: 10px;
    margin: auto;
    color: #8c8c8c;
    margin: 0 20px 0 20px;
}

.osh-header a:hover {
    text-decoration: none;
    border-bottom: 2px solid #f16c23;
    color: #4d4d4d

}

.osh-element .active{
    font-weight: bold;
    border-bottom: 2px solid #f16c23;
    color: #4d4d4d
}

.osh-content {
    display: inline-block;
}


{# Filters ---------------------------- #}
.osh-filters {
    margin-right: 30px;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    float: left;
    position: fixed;
    z-index: 1034;
}

.osh-filter-row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.resource {
    font-weight: normal;
    padding-left: 5px;
}

.osh-form-checkbox input {
    vertical-align: text-bottom;
}

.osh-label {
    display: inline;
    text-transform: uppercase;
}

.osh-label-right {
    display: inline;
    float: right;
    font-weight: lighter;
}

.osh-form {
    position: relative;
}

.osh-form-text-input {
    width: 100%;
}

.osh-form-submit-input {
    border: none;
    background: no-repeat;
    background-size: cover;
    background-image: url({{ STATIC_URL }}images/search.png);
    position: absolute;
    right: 5px;
    top: 8px;
    z-index: 1;
    width:30px;
    height:30px;
}

.osh-form-info-image {
    display: inline;
    width: 20px;
    height: 20px;
}

.osh-form-checkbox {
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
}

{# Cards ---------------------------- #}
.osh-cards {
    margin: 10px 16px 10px 0;
    display: inline-block;

}

.osh-card {

    margin: 0 16px 20px 0;
    display: inline-block;
    height: 375px;
    width: 240px;
    float: left;


}



.front{
    margin: none;
    background-color: #f5f5f5;
    border: 1px solid #eeeeee;
    border-radius: 6px;

    padding: 0px;
    font-size: .8em;
    text-align: center;

}

.back{
    margin: none;
    background-color: #f5f5f5;
    border: 1px solid #eeeeee;
    border-radius: 6px;

    padding: 0px;
    font-size: .8em;
    text-align: center;

}


{# Need to setup for color change on type#}
.osh-card-name {

}
.osh-card-background {
    border-radius: 6px 6px 0 0;
    padding: 1px 0px 3px 0px;
    width: 100%;
    height: 40px;
}

#hub {
    background-color: #f16c23;
    border-color: #cc5c1e;
    width: 100%;
    height: 40px;
    background-image: url("../images/HubIcon.png");
    background-repeat: no-repeat;
}

.hub .osh-card-back h3{
    color: #f16c23;
    margin-bottom: 0px;
}

.hub {
    background-color: #f16c23;
}


#observation {
    background-color: #f13e30;
    border-color: #ac2c22;
    width: 100%;
    height: 40px;
    background-image: url("../images/HubIcon.png");
    background-repeat: no-repeat;
}

.observation .osh-card-back h3{
    color: #f13e30;
    margin-bottom: 0px;
}

.observation {
    background-color: #f13e30;
}

#layer {
    background-color: #0B85C3;
    border-color: #07537b;
    background-image: url("../images/LayerIcon.png");
    background-repeat: no-repeat;
}

.layer .osh-card-back h3{
    color: #0B85C3;
    margin-bottom: 0px;
}

.layer {
    background-color: #0B85C3;
}

#view {
    background-color: #116331;
    border-color: #0e4a16;
    background-image: url("../images/ViewIcon.png");
    background-repeat: no-repeat;
}

.view .osh-card-back h3{
    color: #116331;
    margin-bottom: 0px;
}

.view {
    background-color: #116331;
}

/*------------------------STYLERS Card Color-------------------------------*/

#video {
    background-color: #2f1387;
    border-color: #0a1d4b;
    background-image: url("../images/VideoIcon.png");
    background-repeat: no-repeat;
}

.video .osh-card-back h3{
    color: #2f1387;
    margin-bottom: 0px;
}

.video {
    background-color: #2f1387;
}

#chart {
    background-color: #d2ad06;
    border-color: #615813;
    background-image: url("../images/ChartIcon.png");
    background-repeat: no-repeat;
}

.chart .osh-card-back h3{
    color: #d2ad06;
    margin-bottom: 0px;
}

.chart {
    background-color: #d2ad06;
}

#point {
    background-color: #6ba801;
    border-color: #6ba801;
    background-image: url("../images/PointIcon.png");
    background-repeat: no-repeat;
}

.point .osh-card-back h3{
    color: #6ba801;
    margin-bottom: 0px;
}

.point {
    background-color: #6ba801;
}

#text {background-color: #00b79d;
    border-color: #00b79d;
    background-image: url("../images/TextIcon.png");
    background-repeat: no-repeat;}

.text .osh-card-back h3{
    color: #00b79d;
    margin-bottom: 0px;
}

.text {
    background-color: #00b79d;
}

.osh-card-background h3 {
    margin: 10px auto 0 auto;
    font-size: 1.4em;
    letter-spacing: .1em;
    color: #ffffff;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.osh-card-back h3 {
    margin-top: 10px;
    font-size: 1.4em;
    letter-spacing: .1em;
}


.layer .osh-card-back h3{
    color: #5E66CC;
}

.view .osh-card-back h3{
    color: #116331;
}

.osh-card-back h4 {
    font-size: .9em;
    margin-top: 5px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.osh-card-image-frame {
    padding: 3px;
    margin: auto;
    width: 222px;
    height: 150px;
    background-color: #fff;
    text-align: center;
    font: 0/0 a;

}
.osh-card-image-frame:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.osh-card-image {
    display:inline-block;
    vertical-align: middle;
}

.osh-card-image img {
    max-width: 200px;
    max-height: 150px;
}

.osh-card-text {
    padding: 8px;
    margin: auto;
    width: 222px;
    height: 174px;
    border-radius: 0 0 3px 3px;
    background-color: #ececec;
}

.osh-card-text h4 {
    font-size: .9em;
    margin-top: 17px;
    margin-bottom: 4px;
}

.osh-card-text p {
    font-size: .9em;
}

.osh-card-back {
    padding: 3px;
    margin: 10px auto;
    width: 222px;
    height: 353px;
    border-radius: 3px;
    background-color: #ececec;
}

{# Tool Tips ---------------------------- #}
.osh-tooltip {
    position: relative;
    display: inline-block;
}

{# Tooltip text #}
.osh-tooltip .osh-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

{# Show the tooltip text when you mouse over the tooltip container #}
.osh-tooltip:hover .osh-tooltip-text {
    visibility: visible;
}