{% block body %}
    {% comment %} <style>
        #view-form {
            width: 80vw;
            display: grid;
            grid-template-columns: 25% 50% 25%;
            grid-column-gap: 1vw;
            grid-row-gap: 2vh;
        }

        p {
            margin: 0%;
            grid-column: 1/4;
            display: grid;
            grid-template-columns: 15vw 30vw 15vw;
            grid-column-gap: 1vw;
            grid-row-gap: 2vh;
            align-content: center;
        }

        label {
            display: inline-block;
            width: 90%;
            text-align: right;
            grid-column: 1/2;
        }

        input {
            display: inline-block;
            width: 100%;
            grid-column: 2/3;
            text-align: left;
        }

        #id_sync_master_time {
            position: relative;
            width: 0%;
            height: 80%;
            left: 0%;
        }

        #added-fields {
            margin-top: 20px;
            width: 62vw;
            padding: 0;
            padding-bottom: 1vh;
            border: 2px solid black;
            grid-column: 1/4;
            display: grid;
            grid-template-columns: 15vw 30vw 15vw;
            grid-column-gap: 1vw;
            grid-row-gap: 2vh;
        }

        #added-fields-header {
        {#position: relative;#} margin-top: -8%;
            margin-left: 10px;
            background-color: white;
            width: 70%;
            text-align: center;
        }

        button {
            border-style: solid;
            border-width: 1px;
        }

        button:hover {
            background-color: #ff7d32;
        }
    #add-view-btn {
        width: 98%;
    }
    .remove-btn {
        width: 98%;
    }
    </style>{% endcomment %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/osh-wizards.css">

    <script type="application/javascript" src="{{ STATIC_URL }}js/wizard_add_hub.js"></script>
    <h1 style="grid-column: 1/4; text-align: left; padding-left: 3%">Add a View</h1>
    <div>
{#        Should/could a separate form be loaded here?#}
        <button>Previous</button>
        <button>Next</button>
    </div>


    <div id="progress-bar">
        <div id="hub-pellet" class="progress-pellets">
            <div class="progress-pellet-text" style="align-self: center">Hub</div>
        </div>
        <div>
            <i class="arrow right"></i>
        </div>
        <div id="observation-pellet" class="progress-pellets">
            <div class="progress-pellet-text" style="align-self: center">Obs</div>
        </div>
        <div>
            <i class="arrow right"></i>
        </div>
        <div id="style-pellet" class="progress-pellets">
            <div class="progress-pellet-text" style="align-self: center">Style</div>
        </div>
        <div>
            <i class="arrow right"></i>
        </div>
        <div id="view-pellet" class="progress-pellets">
            <div class="progress-pellet-text" style="align-self: center">View</div>
        </div>
        <div>
            <i class="arrow right"></i>
        </div>
        <div id="layout-pellet" class="progress-pellets">
            <div class="progress-pellet-text" style="align-self: center">Layout</div>
        </div>
    </div>

{% endblock %}