{#{% extends "wizards/base_wizard.html" %}#}

{% block body %}
    <style>
        label {
            display: inline-block;
            width: 30%;
            text-align: right;
        }

        input {
            display: inline-block;
            width: 50%;
        }
    </style>

    {#    Look at using grid or flexbox to improve some of the layout feel #}
    <form action="" method="post" style="width: 50%">
        {% csrf_token %}
        <p>Form goes here</p>
        <p>
            {{ form.as_p }}
        </p>
        <input type="submit" value="Submit" style="width: 10%; position: absolute; left: 30.9%;"/>
    </form>

{% endblock %}