// TODO: add form fields
<label>Data Source X-Axis</label>
<select>
{#    Need to get options from DB#}
</select>
<label>Data Source Y-Axis</label>
<select>
{#    Need to get Options from DB#}
</select>
<label>Label X-Axis</label>
<input type="text">
<label>Label Y-Axis</label>
<input type="text">
<label>Color Mode</label>
<input>
<label>Range Mode</label>
<input>
<label>Range X</label>
<input type="text">
<input type="text">
<label>Range Y</label>
<input type="text">
<input type="text">
<label>Max Points</label>
<input type="text">
{# Any potential for an RGB picker style widget?#}
<label>Colors</label>
<input>
<label>Color Thresholds</label>
<input>