<html>
    <head>
    </head>
    <body>
        {% load staticfiles %}
        {% load script_tags %}
        <div id="leafletViewerId">
            <!-- Vendor all-in-one was built with:

                gulp build --broadway --cesium --ffmpeg --x2js --leaflet --nouislider --nvd3 --ol3 --tree
            -->
            <link rel="stylesheet" href="{% static "toolkit/vendor/vendor.min.css" %}"/>
            <script src="{% static "toolkit/vendor/vendor.min.js" %}"></script>

            <link rel="stylesheet" href="{% static "toolkit/css/osh.min.css" %}"/>
            <script src="{% static "toolkit/js/osh-debug.js" %}"></script>

            <div id="leafletMap" style="height:100%;width:100%"></div>
            <style>
                .leaflet-container {
                    height: 100%;
                }
            </style>
            {% begin_script %}
            {% data_receiver replay_factor="3" data_source_name="androidPhoneGps" data_source_friendly_name="android-GPS" protocol="ws" service="sos" endpoint="sensiasoft.net:8181/sensorhub/sos" offering="urn:android:device:060693280a28e015-sos" observed_property="http://sensorml.com/ont/swe/property/Location" start_time="2015-02-16T07:58:00Z" end_time="2015-02-16T08:09:00Z" sync_master_time="true" buffering_time="1000" time_shift="-1600" %}
            {% point_marker_styler styler_name="pointMarker" x_component="1.42376557" y_component="43.61758626" z_component="100" data_source_name="androidPhoneGps" location_handler="function (rec) { return { x: rec.location.lon, y: rec.location.lat, z: rec.location.alt }; }" image_name="/static/toolkit/images/cameralook.png" image_handler="function (rec, timeStamp, options) { if (options.selected) { return '/static/toolkit/images/cameralook.png'; } else { return '/static/toolkit/images/cameralook.png'; } }" %}
{#            {% polyline_styler  styler_name="polyline" data_source_name="androidPhoneGps" location_handler="function (rec) { return { x: rec.location.lon, y: rec.location.lat, z: rec.location.alt }; }" color_rgba="0,0,255,0.5" weight="10" opacity=".5" smooth_factor="1" max_points="200" %}#}
            {% leaflet_map_view view_name="leafletMap" stylers="[{\"styler\": \"pointMarker\", \"friendly_name\": \"Android Phone GPS\"}]" %}
{#            {% leaflet_map_view view_name="leafletMap" stylers="[{\"styler\": \"pointMarker\", \"friendly_name\": \"Android Phone GPS\"},{\"styler\": \"polyline\", \"friendly_name\": \"Android Phone GPS Path\"}]" %}#}
            {% data_provider_controller replay_factor="replayFactor" data_source_name="androidPhoneGps" %}
            {% connect_controllers %}
            {% end_script %}
        </div>
    </body>
</html>
